html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(../../../public/all-images/bg/slide-bg.jpg) no-repeat center center;
}

:root {
    --primary-color: #191970;
    --secondary-color: #007BFF;
    --text-color: #444;
    --active-color: #016630;
    --inactive-color: #dc3545;
}

header {
    position: fixed;
    width: 100%;
    min-height: 70px;
    background: rgba(255, 255, 255, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

header .in-div {
    width: 98%;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .in-div .logo {
    width: 60px;
}

header .in-div .logo img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

header .in-div .container {
    flex-grow: 1;
}

header .in-div .container .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .in-div .container .nav-container nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 5px;
}

header .in-div .container .nav-container nav ul li {
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 13px;
    white-space: nowrap;
    font-weight: 600;
}

header .in-div .container .nav-container nav ul li i {
    color: var(--secondary-color);
}

header .in-div .container .nav-container nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
}

header .active {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--primary-color) !important;
}

header .in-div .container .nav-container .right-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media all and (max-width: 640px) {
    header .in-div .container .nav-container .icons,
    .profile-header,
    .profile-pix-header {
        display: none;
    }
}

header .in-div .container .nav-container .right-div .icons .bi {
    padding: 10px;
    font-size: 20px;
}

header .in-div .container .nav-container .right-div .icons .bi:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
}

header .in-div .container .nav-container .right-div .icons .bi-bell {
    position: relative;
}

header .in-div .container .nav-container .right-div .icons #count {
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 0px 5px;
    background-color: #be1d1d;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
}

header .in-div .container .nav-container .right-div .profile-header {
    border-left: 1px #444 dotted;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

header .in-div .container .nav-container .right-div .profile-header #status-name {
    color: var(--secondary-color);
}

header .in-div .container .nav-container .right-div .profile-pix-header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header .in-div .container .nav-container .right-div .profile-pix-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}

header .in-div .container .nav-container .right-div .mobile-nav {
    padding: 10px;
    font-size: 25px;
    display: none;
}

@media all and (max-width: 640px) {
    header .in-div .container .nav-container .right-div .mobile-nav {
        display: block;
    }
}

header .in-div .container .nav-container .right-div .mobile-nav:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #444;
    cursor: pointer;
}

.side-nav {
    position: fixed;
    top: 70px;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.48);
    display: flex;
    justify-content: center;
}

@media all and (max-width: 640px) {
    .side-nav {
        display: none;
    }
}

.side-nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.side-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    font-size: 12px;
    color: var(--text-color);
    font-weight: 600;
    white-space: nowrap;
}

.side-nav ul .bi {
    font-size: 15px;
}

.side-nav ul li:hover {
    background-color: #F9F7F0;
    color: var(--secondary-color);
    border-radius: 5px;
    border-left: 2px solid var(--primary-color);
    cursor: pointer;
}

.side-nav .active {
    background-color: #F9F7F0;
    color: var(--secondary-color);
    border-radius: 5px;
    border-left: 2px solid var(--primary-color);
}





.body-div {
    position: absolute;
    top: 70px;
    left: 100px;
    width: calc(100% - 100px);
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    overflow: auto;
}

@media all and (max-width: 640px) {
    .body-div {
        width: 100%;
        left: 0px;
    }
}

.body-div .in-div {
    width: 98%;
    padding: 10px;
}

.body-div .in-div .body-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-div .in-div .body-container .top-div {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.body-div .in-div .body-container .top-div .statistics {
    width: 300px;
    min-height: 130px;
    background-image: linear-gradient(to right, #FDFDFB, #F7F4EC);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.body-div .in-div .body-container .top-div .profile {
    flex-grow: 4;
}

.body-div .in-div .body-container .top-div .statistics .div-in {
    width: 90%;
}

.body-div .in-div .body-container .top-div .statistics .div-in .profile {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
}

.body-div .in-div .body-container .top-div .statistics .div-in .profile .profile-pix {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.body-div .in-div .body-container .top-div .statistics .div-in .profile .profile-pix img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.body-div .in-div .body-container .top-div .statistics .div-in .profile span {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
}

.body-div .in-div .body-container .top-div .statistics .div-in .statistics-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.body-div .in-div .body-container .top-div .statistics .div-in .statistics-count .title {
    font-weight: 700;
}

.body-div .in-div .body-container .top-div .statistics .div-in .statistics-count .bottom-title {
    font-style: italic;
}

.body-div .in-div .body-container .top-div .statistics .div-in .statistics-count #count {
    font-size: 30px;
    color: var(--secondary-color);
}

.body-div .in-div .body-container .top-div .statistics .div-in .statistics-count .icon {
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
}

.body-div .in-div .body-container .bottom-div {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.body-div .in-div .body-container .bottom-div .left-div {
    width: 350px;
    flex-grow: 15;
}

.body-div .in-div .body-container .bottom-div .right-div {
    width: 350px;
    min-height: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.body-div .in-div .body-container .bottom-div .right-div .in-div .header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ;
    padding-bottom: 8px;
}

.body-div .in-div .body-container .bottom-div .right-div .in-div .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding-top: 8px;
}

.body-div .in-div .body-container .bottom-div .right-div .in-div .container .flex-card {
    width: 300px;
    height: 115px;
    background-color: #ffffff;
    border: 1px dotted #E5E4E4;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-grow: 1;
}



.profile-card {
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0px;
    background-color: #ffffff;
}

@media all and (max-width: 500px) {
    .profile-card {
        width: 100%;
    }
}

.profile-card .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-card .header .in-div {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.profile-card .header .in-div .close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card .header .in-div .close:hover {
    background-color: var(--inactive-color);
    color: #fff;
    cursor: pointer;
}

.profile-card .body-form {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    display: flex;
    justify-content: center;
}

.profile-card .body-form .div-in {
    width: 90%;
}

.profile-card .body-form .div-in .profile {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    overflow: hidden;
}

.profile-card .body-form .div-in .profile .profile-pix {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.profile-card .body-form .div-in .profile .profile-pix img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profile-card .body-form .div-in .border {
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 12px;
    margin-top: 15px;
}

.profile-card .body-form .div-in .form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 15px;
}

.profile-card .body-form .div-in .form-container .form {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.profile-card .body-form .div-in .form-container .form i {
    color: var(--primary-color);
}

.profile-card .body-form .div-in .form-container .form label {
    padding-left: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.profile-card .body-form .div-in .form-container .form .text-field {
    padding: 18px 20px;
    font-size: 12px;
    color: #333;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
}

.profile-card .body-form .div-in .form-container .form select {
    appearance: none;
}

.profile-card .body-form .div-in .form-container .form .text-field:focus {
    border: 1px solid var(--primary-color);
}