html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #4D8BC8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    min-height: 500px;
    background-color: #EBF5FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 450px) {
    .container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
}

.container .in-div {
    width: 90%;
}

.container .in-div .in-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .in-div .in-container .screen-div {
    width: 100%;
    min-height: 80px;
    background-color: #CBE5FE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.container .in-div .in-container .screen-div .in-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .in-div .in-container .screen-div .in-div #input-display {
    width: 100%;
    color: #779BBB;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.container .in-div .in-container .screen-div .in-div #result-display {
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: end;
}

.container .in-div .in-container .buttons-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media all and (max-width: 450px) {
    .container .in-div .in-container .buttons-div {
        grid-template-columns: repeat(3, 1fr);
    }
}

.container .in-div .in-container .buttons-div button {
    border: none;
    padding: 15px;
    border-radius: 8px;
    background-color: #A3D0F9;
    color: #4779AC;
    font-weight: 600;
    font-size: 14px;
}

.container .in-div .in-container .buttons-div button.equal {
    grid-column: span 2;
    background-color: #4D8BC8;
    color: #ffffff;
}

@media all and (max-width: 450px) {
    .container .in-div .in-container .buttons-div button.equal {
        grid-column: span 1
    }
}

.container .in-div .in-container .buttons-div button.num {
    background-color: #CBE5FE;
    color: #000000;
}